.List {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 10vw;
  width: 80vw;
  justify-content: space-around;
}
.itemCard {
  margin: 25px;
}
.contactModal {
  position: absolute;
  width: 40vw;
  background-color: white;
  padding: 30px;
  top: 10vh;
  left: 30vw;
}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .List {
    margin-left: 0vw;
    width: 100vw;
  }
  .itemCard {
    margin-bottom: 20px;
  }
}
